/* Use your own code or past solution for Great Idea Web Page CSS here! */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 878px;
	margin: 0 auot;
}

nav {
	height: 100px;
	width: 878px;
	margin: 0 auto;
	display: flex;
    align-items: center;
	justify-content: space-around;
}

nav a {
	color: lightgray;
	text-decoration: none;
}

header .logo {
	margin-top: 30px;
	height: 40px;
}

.container {
	width: 878px;
	margin: 0 auto;
}

.section {
	display: flex;
	align-items: center;
	text-align: center;
}

.button1 {
	padding: 4px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px;
	background-color: transparent;
	font-weight: 100;
}

.section p {
	font-size: 70px;
	margin: 50px;
	font-family: 'Bangers', cursive;
}

.info {
	display: flex;
	justify-content: flex-start;
	padding: 20px 0px;
	font-size: 16px;
}

.info h2 {
	font-family: 'Bangers', cursive;
}

div .image {
	display: block;
	text-align: center;
}

.services {
	display: flex;
	padding: 10px 0px;
	font-size: 14px;
}

.services h2 {
	font-family: 'Bangers', cursive;
}

.services div:first-child {
	margin-left: 0px;
}

.services-header-img {
	display: flex;
	align-items: center;
}

.div1 {
	width: 878px;
	margin: 0px auto;
}

footer h2 {
	font-family: 'Bangers', cursive;
}

footer div a {
	text-decoration: none;
	color: black;
}

.copyright {
	text-align: center;
	padding-top: 50px;
}

@media (max-width: 800px) {
	.container {
		width: 80%;
		position: absolute;
		margin-right: auto;
		margin-left: auto;
	}
	header {
		width: 100%;
		display: inline-flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	header .logo {
		max-width: 25%;
	}
	.innovation {
		text-align: center;
	}
	.section {
		display: flex;
		justify-content: center;
	}
	.section img {
		display: none;
	}
	.container {
		width: 750px;
	}
	.image img {
		width: 750px;
	}
	h2 {
		font-family: 'Bangers', cursive;
		font-size: 18px;
	}
	.services p {
		text-align: left;
	}
}

@media ( max-width: 500px) {
	.container {
		width: 95%;
		height: 100%;
	}
	header .logo {
		padding-bottom: 10px;
		margin: 0px;
	}
	header {
		width: 500px;
		height: 275px;
	}
	nav {
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;
	}
	nav a {
		border-bottom: 1px solid lightgray;
		width: 100%;
		text-align: center;
	}
	nav:first-child{
		border-top: 1px solid lightgray;
	}
	.section {
		height: 400px;
		
	}
	.innovation {
		padding-bottom: 0px;
	}
	.info {
		display: flex;
		flex-flow: column;
	}
	.image img {
		width: 460px;
	}
	.services {
		display: flex;
		flex-flow: column;
		margin-left: 0;
	}
}